<div class="container">
    <!-- another form container within the container -->
    <div class="forms-container">
      <!-- include both sign-in and signup code -->
      <div class="signin-signup">
        <!-- form content -->

        <!-- signup form starts -->
        <form class="sign-up-form">
          <h2 class="title" >
             <img src="https://i.postimg.cc/2y1fJyYS/email-1.gif" width="230" height="230" alt=""></h2>
          <div class="input-field">
            <i><img src="/src/assets/images/id-card.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 0%;"/></i>
            <input id="strUsername" type="text" placeholder="full name!"  />
          </div>
          <div class="input-field">
            <i><img src="img/email.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 0%;"/></i>
            <input id="strEmail" type="email" placeholder="username" />
          </div>
          <div class="input-field">
            <i><img src="img/lock.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 5%;"/></i>
            <input id="strPin" type="password" placeholder="password" />
          </div>
          <div class="input-field">
            <i><img src="img/lock.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 0%;"/></i>
            <input id="confirmPin" type="password" placeholder="confirm password" />
          </div>
          <input id="btnSubmit" type="button" class="btn" value="Sign up"/>
        </form>

        <!-- sign-in form starts here -->
        <form class="sign-in-form">
          
          <img class="title" src="https://i.postimg.cc/MTxLVTHF/id-card.gif" width="230" height="230" alt="">
          <div class="input-field">
            <i><img src="https://i.postimg.cc/MTxLVTHF/id-card.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 0%;"/></i>
            <input id="confirmPin" type="text" placeholder="username" />
          </div>
          <div class="input-field">
            <i><img src="img/lock.gif" width="40" height="40" style="vertical-align: text-bottom; padding: 0%;"/></i>
            <input id="confirmPin" type="password" placeholder="password!"/>
          </div>
          <input id="btnSubmit" type="button" class="btn" value="Sign in" />
        </form>
        <!-- sign-in form closes here -->

        <!-- signup closes -->
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3 style="font-family: Kristen ITC;">New here?</h3>
          <p>
            Let us help you become one of ours!. Go ahead and click the link here to <span style="font-weight: bolder; font-size: 18px; border-style: hidden;" class="btn transparent" id="sign-up-btn">Sign up</span>
          </p>
        </div>
        <img src="img/log.svg" width="200" height="200" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3 style="font-family: Kristen ITC;">Already one of us?</h3>
          <p >
            Let's sign you in then, <span style="font-weight: bolder; font-size: 18px;" id="sign-in-btn">Login</span>
          </p>
        </div>
        <img src="img/register.svg" width="200" height="200" class="image" alt="" />
      </div>
    </div>
  </div>

  <script>
    const sign_in_btn = document.querySelector("#sign-in-btn");
    const sign_up_btn = document.querySelector("#sign-up-btn");
    const container = document.querySelector(".container");

    sign_up_btn.addEventListener("click", () => {
      container.classList.add("sign-up-mode");
    });

    sign_in_btn.addEventListener("click", () => {
      container.classList.remove("sign-up-mode");
    });
  </script>