<!-- <div>
<app-nav-bar></app-nav-bar>
</div> -->

<h1>About  As'Connecte</h1>
<!-- <div class="grid-holder"> -->

    <div  class="item">
        <div class="col-6 pb-3">
            <div class="row pt-3 m-auto">
    
    
            <div class="card card-custom bg-white border-white border-0" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(../../assets/images/hotspot.jpg); "></div>
            <div class="card-custom-avatar">
            <img class="img-fluid" src="https://media.discordapp.net/attachments/1167437166331314267/1169937418955268137/Untitled_design.png?ex=65573821&is=6544c321&hm=9655f45891011564b0cebd72dd1460d4d9013c9f2706b9c1c5e9d709921ef501&=&width=411&height=411" alt="Logo" />
            </div>
            <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">ABOUT US</h4>
            <p class="card-text" >AS'CONNECTE IS AN APPLICATION DESIGNED TO OFFER AFFORDABLE INTERNET ACCESS WITHOUT  
            </div>
        
            </div>

    </div>
    </div>
    </div>

    <div  class="item">
        <div class="col-6 pb-3">
            <div class="row pt-3 m-auto">
    
    
            <div class="card card-custom bg-white border-white border-0" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(../../assets/images/pocket-wifi-small-icons.jpg);"></div>
            <div class="card-custom-avatar">
            <img class="img-fluid" src="https://media.discordapp.net/attachments/1167437166331314267/1169937418955268137/Untitled_design.png?ex=65573821&is=6544c321&hm=9655f45891011564b0cebd72dd1460d4d9013c9f2706b9c1c5e9d709921ef501&=&width=411&height=411" alt="Logo" />
            </div>
            <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">WHY CHOOSE US</h4>
            <p class="card-text">-AFFORDABLE</p>
            <p class="card-text">-ALLOWS USER TO CONNECT WITHOUT NETWORK DEVICE </p>
            <p class="card-text">-MAKE EXTRA CASH BECOME A RESELLER</p>
        
            </div>
        
            </div>
    
    </div>
    </div>
    </div>

    <div  class="item">
        <div class="col-6 pb-3">
            <div class="row pt-3 m-auto">
    
    
            <div class="card card-custom bg-white border-white border-0" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(../../assets/images/connection.jpg);"></div>
            <div class="card-custom-avatar">
            <img class="img-fluid" src="https://media.discordapp.net/attachments/1167437166331314267/1169937418955268137/Untitled_design.png?ex=65573821&is=6544c321&hm=9655f45891011564b0cebd72dd1460d4d9013c9f2706b9c1c5e9d709921ef501&=&width=411&height=411" alt="Logo" />
            </div>
            <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">HOW TO CONNECT</h4>
            <p class="card-text">-CHECK AVAILABLE CONNECTIVITY</p>
            <p class="card-text">-SELECT AS'CONNECTE ON YOUR DEVICE </p>
            <p class="card-text">-LOAD VOUCHER </p>
            <p class="card-text">-CONNECT</p>
            
            
            </div>
            </div>
    </div>
    </div>
    </div>
    <div  class="item">
        <div class="col-6 pb-3">
            <div class="row pt-3 m-auto">
    
            <div class="card card-custom bg-white border-white border-0" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(../../assets/images/resller.jpg);"></div>
            <div class="card-custom-avatar">
            <img class="img-fluid" src="https://media.discordapp.net/attachments/1167437166331314267/1169937418955268137/Untitled_design.png?ex=65573821&is=6544c321&hm=9655f45891011564b0cebd72dd1460d4d9013c9f2706b9c1c5e9d709921ef501&=&width=411&height=411" alt="Logo" />
            </div>
            <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">HOW TO BECOME A RESELLER </h4>
            <p class="card-text">-SIGN UP</p>
            <p class="card-text">-SIGN IN</p>
            <p class="card-text">-ENTER WIFI DETAILS</p>
            <p class="card-text">-FINISH</p>
            
            </div>
            </div>
    </div>
    </div>
    </div>

<!-- </div> -->