<mat-card class="change-password-card">
  <mat-card-header>
    <img src="../../assets/Logo.png" alt="Logo" width="100px"/>
    <mat-card-title style="color: navy;">Change Password</mat-card-title>
  </mat-card-header>

  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-card-content>
      <mat-form-field id="old-password" appearance="outline">
        <mat-label for="old-password">Old Password</mat-label>
        <input matInput formControlName="oldPassword" required="true">
      </mat-form-field>

      <mat-form-field id="new-password" appearance="outline">
        <mat-label for="new-password">New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" required="true">
      </mat-form-field>

      <mat-form-field id="confirm-new-password" appearance="outline">
        <mat-label for="confirm-new-password">Confirm New Password</mat-label>
        <input matInput formControlName="confirmNewPassword" type="password" required="true">
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button button mat-raised-button color="primary" type="submit">SAVE</button>
        <button button mat-raised-button color="warn" (click)="cancel()">CANCEL</button>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </form>

</mat-card>