.change-password-card {
    max-width: 400px;
    margin: 5em auto;
  }

  .nav {
    border: 1px solid black;
    margin-bottom: 8em;
  }

  form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-around;
  }

  mat-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    width: 10em;
  }

  body{
    background-image: url('../images/wifi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  
  