<section id="info">
  <div class="col-25">
    <div class="container">
      <div class="card-one">
       <h3>About Us</h3>
       <h2>As'Connecte</h2>
        <h1>Who is As'Connecte?</h1>
        <p>As'khonecte is a dynamic solution designed to tackle South Africa's internet accessibility challenges, with approximately 25% of the population facing barriers such as high data costs and limited Wi-Fi infrastructure. This digital divide hinders access to crucial online resources, impacting education, skills development, and economic opportunities.</div>
     
        