<!-- <app-nav-bar></app-nav-bar> -->

<div class="devices">
  <h1> Connected Device</h1>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../assets/images/smartphone.png" alt="Card image cap"
      style="width: 9rem; height: 9rem;">
    <div class="card-body">
      <h5 class="card-title">Device name</h5>
      <p class="card-text">HP 15 CELERON</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">IP adress</h5>
      <p class="card-text"> 192.158.1.38. </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Mac addres</h5>
      <p class="card-text">00-B0-D0-63-C2-26</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <p class="card-text">Philippi East</p>
    </div>
    <div class="card-footer" style="width: 50%;">
      <div class="timer">
        <h4>Count down timer</h4>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="card">
    <img class="card-img-top" src="../../assets/images/smartphone.png" alt="Card image cap"
      style="width: 9rem; height: 9rem;">
    <div class="card-body">
      <h5 class="card-title">Device name</h5>
      <p class="card-text">Mobicel Z3</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">IP adress</h5>
      <p class="card-text"> 108.240.81.214
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Mac addres</h5>
      <p class="card-text"> 00-1B-63-84-45-E6.</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <p class="card-text">Khayelitsha, Makhaza</p>
    </div>
    <div class="card-footer" style="width: 50%;">
      <small class="text-muted">Logged 1 hour ago</small>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="../../assets/images/smartphone.png" alt="Card image cap"
      style="width: 9rem; height: 9rem;">
    <div class="card-body">
      <h5 class="card-title">Device name</h5>
      <p class="card-text">Mobicel Z3</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">IP adress</h5>
      <p class="card-text"> 108.240.81.214
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Mac addres</h5>
      <p class="card-text"> 00-1B-63-84-45-E6.</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <p class="card-text">Khayelitsha, Makhaza</p>
    </div>
    <div class="card-footer" style="width: 50%;">
      <small class="text-muted">Logged 1 hour ago</small>
    </div>
  </div>
</div>