<p>

    <mat-toolbar style="background-color: purple">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="../../assets/Logo.png" alt="Logo"/>
        </button>
        <span class="company-name">As'Connecte</span>
        <span class="example-spacer"></span>
        <button mat-button>
            <a class="btn">Home</a>
        </button>
        <button mat-button>
            <a class="btn">Become a reseller</a>
        </button>
        <button mat-button>
            <a class="btn">Support</a>
        </button>

    </mat-toolbar>

</p>