<p>

    <mat-toolbar style="background-color: black;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="#" />
        </button>
        <span class="btn">AsConnecte</span>
        <span class="example-spacer"></span>
        <button mat-button>
            <a class="btn">Home</a>
        </button>
        <button mat-button>
            <a class="btn">Become a reseller</a>
        </button>
        <button mat-button>
            <a class="btn">support</a>
        </button>

    </mat-toolbar>

</p>