<section>
<div>
 <h2>Products</h2>
 <div class="row">
  <div class="col-3 m-3">
    <div class="card" style= "width: 18rem; ">
      <div class="card-header" id="headingCategory2">

        <h3 class="card-title">One Hour Voucher</h3>
      </div>
  
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-weight: bold;">R5,00</li>
      </ul> 
        <!-- <h6 class="card-subtitle mb-2 text-body-secondary"></h6> -->
        <!-- <p class="card-text"></p> -->
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
      
    </div>
  </div>
  <div class="col-3 m-3">
    <div class="card" style="width: 18rem; background-color: white">
  
      <div class="card-body">
        <h5 class="card-title"> Twelve Hours Voucher</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text"></p>
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-weight: bold;">R15,00</li>
      </ul> 
    </div>
  </div>
  <div class="col-3 m-3">
    <div class="card" style="width: 18rem; background-color: white">
  
      <div class="card-body">
        <h5 class="card-title">Daily Voucher</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <p class="card-text"></p>
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-weight: bold;">R25,00</li>
      </ul> 
    </div>
  </div>
 </div>

</div>

</section>





