<div class="wrapper">
    <div class="header">
        <br/>
        <br/>
        <br/>
        <div class="top">
            <div class="logo">
                <h4>Sign up</h4>
                <br/>
            </div>
            <form runat="server">
                <div class="form" >
                    <div class="input_field">
                        <input button ID="strUsername" type="text" name="email" placeholder="name" class="input"/>
                    </div>
                    <div class="input_field">
                      <input button ID="stremail" type="text" name="email" placeholder="@example.com" class="input"/>
                    </div>
                    <div class="input_field">
                      <input button ID="strpassword" type="password" name="password" placeholder="$password" class="input"/>
                    </div>
                  
                    <button button ID="Button1"  Text="Login" class="btn" >Signup</button>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <!-- <div class="signup">
            
        </div> -->
    </div>
</div>