<div class="container">
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <!-- <label for="Loadvoucher"type="text">Load Voucher</label> -->
          <div class="register">
            <div class="field">
              <h2>Load Voucher</h2>
              <form [formGroup]="loadVoucherField" (ngSubmit)="loadVoucher()">
                <input type="text" placeholder="Load Voucher" formControlName="voucher" maxlength="13" required>
                <button type="submit" (click)="clear()">Submit</button>
              </form>

            </div>
           
          </div>
          <p>

            <!-- <input id="register" maxlength="15" type="text" /><label for="register"><span>Load Voucher</span></label><button>SUBMIT</button> -->