

.container {
  background-color: green;
  color: #fff;
  padding: 2em 0 2em 0;
  margin-top: -5em;
  padding-bottom: 10em;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 50%;
  margin-left: 27%;
}

button {
  width: 50%;
  margin-left: 27%;
}

.time-remaining {
  text-align: center;
}

.time-remaining h3 {
  font-size: 30px;
}

.time-remaining p {
  color: #000;
  font-size: 25px;
}

.message {
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
}

.success{
 color: green;
}

.fail {
  color: red;
}