
@media only screen and (min-width: 992px) {
  .products {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadvoucher {
    position: relative;
    // top: 190px;
  }
}

.loadvoucher {
  position: relative;
  top: 100px;
}

.my-container{
    background-color: red;
 }

 

