<app-nav-bar></app-nav-bar>
<!-- </section> -->
<div class="why-us">
<h2>Why Choose Us</h2>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book.</p>
</div>


<div class="products">
    <section>
        <app-products></app-products>
    </section>
</div>


<div class="loadvoucher">
    <section>
        <app-loadvoucher></app-loadvoucher>
    </section>
</div>