body {
    padding-top: 20em;
    background-image: url('../images/wifi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.columns {
    color: green;
    background-color: black;
}

.columns th,
tbody tr td {
    padding: 10px;
}

.columns:hover {
    background-color: gray;
}

.add-button {
    position: relative;
    top: -5em;
    left: 68%;
    background-color: green;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.heading {
    position: relative;
    top: -5em;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

table {
    border: 1px solid red;
    width: 50%;
    margin: -3em auto;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: red;
    cursor: pointer;
}

tbody tr:nth-child(odd):hover {
    background-color: gray;
    color: white;
}